.signature{
  z-index:20;
  position: absolute;
  bottom:-3.5rem;
  right: -2rem;
  width: 15rem;
}

.signature {
  fill: none;
  stroke: var(--highlight);
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  transition: stroke var(--transition-time);
}

/* give the vectors a dashed stroke */
.stroke_josu {
  stroke-dasharray: 1000;
  animation: write1 var(--animation-duration) linear;
}

.stroke_marra {
  stroke-dasharray: 300;
  animation: write2 var(--animation-duration) linear;
}

.stroke_puntua {
  stroke-dasharray: 10;
  animation: write3 var(--animation-duration) linear;
}


/*  keyframes */
@keyframes write1 {
    0% {
        stroke-dashoffset: 1000;
    }
    70% {
        stroke-dashoffset: 0;
    }
}

@keyframes write2 {
    0%, 70% {
        stroke-dashoffset: 300;
    }
    95% {
        stroke-dashoffset: 0;
    }
}

@keyframes write3 {
    0%, 80% {
        stroke-dashoffset: 10;
    }
    100% {
        stroke-dashoffset: 0;
    }
}