.container {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  place-items: center;
  font: 100% "Syne";
  transition: background var(--transition-time);
  color: var(--text);
}

.localePicker{
  position:fixed;
  top: 0.25rem;
  right: 0.25rem;
}

@media screen and (max-width: 450px){
  .localePicker{
    top: 1rem;
    right: 1rem;
  }
}



