.link{
  padding-left: 5px;
  border-bottom: 1px solid;
  display: inline-flex;
  flex-direction: row;
  flex-grow: 0;
  text-decoration: none;
  color: inherit;
}

.link:hover{
  color: var(--highlight);
}
