.card {
  width: 90vw;
  max-width: 800px;
  position: relative;
  padding: 1rem 3rem;
  border: 1px solid var(--border);
  margin-top: 10vh;
  border-radius: 1rem;
  justify-content: center;
  color:inherit;
  transition: border var(--transition-time);
  background-color: var(--lighter-background);
}

.content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  transition: var(--transition-time);
  padding-top: 5rem;
  padding-bottom: 3.5rem;
}

@media screen and (max-width: 450px){
  .card{
    margin-top: calc(10vh + 5rem);
  }
}