@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Syne:wght@500;600;700;800&display=swap');

:root {
  --text: #232B32;
  --highlight: #293abc;
  --background: #f5f5f5;
  --lighter-background: #fafafa;
  --overlay-background: rgba(35,43,50,0.5);
  --border: #ddd;
  --transition-time: 0s;
  --animation-duration: 5s;

  --black: #232B32;
  --white: #f5f5f5;
  --dark-highlight: #293abc;
  --light-highlight: #4e9feb;
  --dark-overlay: rgba(35,43,50,0.5);
  --light-overlay: rgba(35,43,50,0.5);

  white-space: pre-line;
}

@media (prefers-color-scheme: dark) {
  
  :root{
    --text: #ddd;
    --highlight: #4e9feb;
    --background: #232B32;
    --lighter-background: #2f3438;
    --overlay-background: rgba(35,43,50,0.5);
    --border: #424242;
  }
  
  .pic{
    filter: grayscale(20%) brightness(85%);
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Inter, Helvetica Neue, sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
}

h1,h2,h3,h4{
  margin: 0;
  font-family: 'Syne';
}

h1{
  font-weight: 700;
}

p{
  font-family: 'Inter';
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}


